* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .merch-top-main {
    height: 100%;
   background-image: linear-gradient(180deg, #241A2C 0%, rgba(36, 26, 44, 0) 100%),
     url("../../images/stadium.jpg");
 
   /* Image is centered vertically and horizontally at all times */
   background-position: 50% center;
 
   /* Image doesn't repeat */
   background-repeat: no-repeat;
 
   /* Makes the image fixed in the viewport so that it doesn't move when 
      the content height is greater than the image height */
   background-attachment: fixed;
 
   /* This is what makes the background image rescale based on its container's size */
   background-size: cover;
 
 
 }
 .merch-header{
  background-color: #241A2C;
 color: white;
 border: none;
 padding: 0 0 0 2rem;
 margin-bottom: 0;
 
 
 }
 /*=============== section of main cards ==============*/
 
 /* button style */
 #btn-buy-now {
   background-color: #ca9425;
 }
 
 /* section of two images */
 #jersey1,
 #jersey2 {
   width: 100%;
 }
 