body {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("../../images/contactusbg.jpg");
  /* Image is centered vertically and horizontally at all times */
  background-position: 50% center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #464646;
}

.form-box {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
}

h1 {
  color: #ca9425;
}

p, #name, #subject, #email, #message {
  color: white;
}

#name, #subject, #email, #message {
    font-weight: bold;
}

.btn {
  border-width: 3px !important;
  border-radius: 23px !important;
}

#linereach {
  height: 5px;
  width: 24%;
  background-color: white;
  opacity: 1;
}

#name-input {
    border-radius: 25px;
}

#subject-input {
    border-radius: 25px;
}

#email-input {
    border-radius: 25px;
}

#message-input {
    border-radius: 25px;
}