@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;700&family=Sarabun:wght@300;400;700&display=swap");

body { 
    background: #241A2C !important; 
}


.img-responsive {
  height: 385px;
  border-radius: 23px;
  
}

.container {
    margin: 10px;
    
}

h1 {
    font-family: "barlow", sans-serif;
    font-weight: bold;
    color: white;
}

#firstvideo {
    width: 100vw;
    height: 620px;
}

