/*------------ navbar-styling ------------*/

.nav-active {
  background-color: #231076;
  border-bottom: 7px solid black;
}
.inner-nav {
  max-width: 1500px;
}

nav {
  z-index: 1;
  display: flex;

  margin: auto;
}
.navbar-links-container {
  margin: auto;
}
/* logo */
#ravens-logo {
  width: 6rem;
}
/* navbar hamburger */
#cart-logo {
  width: 3rem;
  color: white;
}
.row .three {
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line {
  width: 50px;
  height: 3.5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#line-3 {
  width: 35px;
  margin-left: 0px;
}
.hamburger:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  /* navbar */
  .nav-item a {
    margin: auto;
  }
  .navbar {
    background-color: #231a2c;
  }
  .home-content-container {
    margin-top: 79.1px;
  }
  /* logo */
  #ravens-logo {
    width: 6rem;
  }
  #cart-logo {
    width: 3rem;
  }
  .nav-link {
    font-size: 1.3rem;
    font-weight: 100;
  }
}
@media screen and (min-width: 992px) {
  /* navbar */

  /* logo */
  /* logo */
  /* navbar */
  #ravens-logo {
    width: 8rem;
  }
  /* navbar hamburger */
  #cart-logo {
    width: 3.5rem;
  }
  .nav-link {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  /* navbar */

  /* logo */
  /* logo */

  /* navbar */
  #ravens-logo {
    width: 8.5rem;
  }
  /* navbar hamburger */
  #cart-logo {
    width: 4rem;
  }
  .nav-link {
    font-size: 1.9rem;
  }
}



body{
    background-color: rgba(36,  26, 44, 1);
    
}
.helmet img{
    width: 100%;
    border-radius: 5px;
}
.helmet{
    height: 30rem;
}
.text{
    color: white;
     height: 30rem;
     font-family: "Barlow", sans-serif;
    
}

.filter{
    height: 75rem;
    color: white;
}
.row{
  width: 100%;
}
.column-1{
    height: 25rem;
}
.column-1 img{
    width: 100%;
    border-radius: 5px;
}
.button-11{
background-color: #ca9425;
padding: .375rem  1rem;
margin-top: 25px;
border: 1px solid white;
font-size: 8px;
grid-area: 5px;

}
.button-12{
 background-color: rgba(36, 26, 44, 1) !important;
  color: white !important;
  border: 0.5px solid;
  padding: .375rem  1rem;
  font-size: 8px;
  grid-area: 2px;
}

@media (max-width: 768px) {
    .filter {
      
      height: 16rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;  
    }
    .helmet img{
    height: 25rem;
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;  
    }
    .text{
      height: 22rem;
      
      margin-left:  40px;
      margin-right: auto;
      
      width: 90%;  
    }
    .column-1 img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%; 
      
      
    }
    .button-11{
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: center;
      width: 30%;  
    }
  .button-12{
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: center;
      width: 30%;  
    }
  }
      
      
    

    
  
    
   
   

   
   

